.body {
    margin: auto;
    width: 60%;
    padding: 20px;
    height: 800px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.lableStyle{
    margin-left: 15px;
}

